---
layout: default
title: Joel McCracken
---

<div class="title">Joel McCracken</div>


<p>Welcome to my little corner of the internet.</p>


<div id="home">
  {% if site.development %}
  <h1>Unpublished</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.status == 'idea' %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a> <br/>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  <h1>updates</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.status == 'published' %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a> <br/>
          <span class="post-date">{{ post.date|date:'%A, %B %d'}}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>pages</h1>
  <ul class="posts">
    <li>
      <a href="/content/automate-everything.html">Automate Everything</a>
    </li>
    <li>
      <a href="/content/automatic-test-driven-development.html">Automatic
      Test Driven Development</a>
    </li>
    <li>
      <a href="/content/gaining-words.html">Gaining Words</a>
    </li>
    <li>
      <a href="/content/heirloom-design.html">Heirloom Design</a>
    </li>
  </ul>

  
</div>

<h1>elsewhere</h1>
<ul>
  <li>I am <a href="http://www.twitter.com/JoelMcCracken">@JoelMcCracken</a> on twitter.</li>
</ul>


